<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<title>Home Page</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
body{
    background-image: url("/images/breastfed.jpg");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

p {
	position:relative;
	top:250px;
	left:250px;
}
</style>

<body>
	<center>
	<p><font face="Comic Sans MS" size="20"><b>Smart Choice</b></font><p>

	<p><a href="/bar"><img src="./images/favourite512x512.png" align="middle" alt="Go!" width="72" height="72" border="0" /></a></p>
	</center>
</body>

</html>