<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<title>Home Page</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
body{
    background-image: url("/images/hungry_baby.jpg");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}
h1 {
	text-align: center;
	color: #070707;
}
div{
    position: relative;
    top: 300px;
}
.btn-xlg {
    width: 120px;
    height: 60px;
    font-size: 20px;
}
</style>


<body>
<center>
	<div class="container">
	<h1><font face="Comic Sans MS" size="20"><b>Feed this baby with? </b></h1> 
	<button type="button" class="btn btn-xlg btn-info" id="breastfed">Breastfed</button>
	<button type="button" class="btn btn-xlg btn-info" id="milk">Milk</button>
</center>
</div>
</body>

<script type="text/javascript">
    document.getElementById("breastfed").onclick = function () {
        location.href = "/breastfed";
    };
    document.getElementById("milk").onclick = function () {
        location.href = "/milk";
    };
</script>
</html>
