<!doctype html>
<html>
<head>
	<style>
	body{
    background-image: url("/images/report.png");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}
	</style>
	</head>
	<body background="/images/report.png">
	</body>
</html>